/* Home.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    background-color: #161616;
    width: 100vw;
    /*color: #fff;*/
    position: relative;
    /*padding: 1em;*/
}

.WT {
    width: 100%;
    color: #ff7a00;
    font-family: 'Alconica', monospace;
    letter-spacing: calc(100 * .01em);
    text-indent: calc(100 * .01em);
    font-size: clamp(20px, 5vw, 150px);
    text-align: center;
}
