* {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  background-color: #012E40;
  /*background: linear-gradient(135deg, #004A8E, #120C1D, #610363);*/
}

.App {
  text-align: center;
  /*background: linear-gradient(135deg, #004A8E, #120C1D, #610363);*/
}
.FirstPage {
  height: 100vh;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FirstPage p {
  background-color: #161616;
  color: #FF7A00;
  font-family: 'Alconica';
  letter-spacing: calc(100 * .01em);
  font-size: clamp(20px, 5vw, 150px);
  /*height: 7%;*/
}

.SecondPage {
  height: 100vh;
  background-color: rgba(22, 22, 22, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Desc {
  /*margin-bottom: 5vw;*/
}

.SecondPage h1 {
  background-color: rgba(22, 22, 22, 0%);
  color: #FF7A00;
  font-family: 'Alconica';
  letter-spacing: calc(100 * .01em);
  font-size: clamp(20px, 5vw, 150px);
  /*height: 7%;*/
  padding-bottom: 9vw;
}

.SecondPage h2 {
  background-color: rgba(22, 22, 22, 0%);
  color: #FF7A00;
  letter-spacing: calc(2 * .01em);
  font-family: 'Roboto-Mono';
  font-size: clamp(20px, 4vw, 100px);
  padding-bottom: 9vw;
}

.SecondPage p {
  background-color: rgba(22, 22, 22, 0%);
  color: #ECECEC;
  letter-spacing: calc(2 * .01em);
  font-family: 'Roboto-Mono';
  font-size: clamp(15px, 2vw, 50px);
  padding-left: 20vw;
  padding-right: 20vw;
}

.ThirdPage {
  height: 100vh;
  background-color: rgba(22, 22, 22, 60%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10em;
}

.ThirdPage h1 {
  background-color: rgba(22, 22, 22, 0%);
  color: #FF7A00;
  font-family: 'Roboto-Mono';
  letter-spacing: calc(2 * .01em);
  font-size: clamp(20px, 4vw, 100px);
}

.Map {
  /*padding-top: 20vw;*/
  background-color: rgba(22, 22, 22, 0%);
}

.FourthPage {
  height: 100vh;
  background-color: rgba(22, 22, 22, 40%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10em;
}

.FourthPage h1 {
  background-color: rgba(22, 22, 22, 0%);
  color: #FF7A00;
  font-family: 'Roboto-Mono';
  letter-spacing: calc(2 * .01em);
  font-size: clamp(20px, 4vw, 100px);
}

.NA {
  background-color: rgba(22, 22, 22, 0%);
}

.FifthPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10em;
}

.FifthPage h1 {
  background-color: rgba(22, 22, 22, 0%);
  color: #FF7A00;
  font-family: 'Roboto-Mono';
  letter-spacing: calc(2 * .01em);
  font-size: clamp(20px, 4vw, 100px);
}

.SM {
  /*background-color: rgba(22, 22, 22, 0%);*/
}