/* BurgerMenu.css */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
}

.bm-burger-bars {
    background: #fff;
}

.bm-burger-bars-hover {
    background: #a90000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #000;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #fff;
    padding: 0.8em;
}

.bm-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #444;
    border-radius: 5px;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
}
