.Errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    margin-bottom: 2vh;
}

.InputWrapper {
    position: relative;
    width: 100%;
}

.Input {
    width: 100%;
    height: 4.5vh;
    background-color: #1D1D1D;
    color: #ECECEC;
    outline: none;
    padding: 1vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    border: 0.15em solid transparent;
}

.EyeIcon {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #757575;
}

.ErrorTxt {
    height: 1em;
    color: red;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    visibility: hidden;
}

.ErrorTxt.error-visible {
    visibility: visible;
}
